// 共通
@font-face {
    font-family: "mini-wakuwaku-maru";
    src: url("../fonts/mini-wakuwaku-maru.otf")
}
@font-face {
    font-family: "JK Gothic M";
    src: url("../fonts/JKG-M_3.ttf");
}

.en {
  font-family: "mini-wakuwaku-maru";
}

.ja {
  font-family: "JK Gothic M";
}

%NewmorphismBase {
  background: #FCBF4C;
  border-radius: 10px;
}
p {
  margin: 0;
}

%ConvexNeumorphism {
  @extend %NewmorphismBase;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                3px 3px 5px rgba(0, 0, 0, 0.1);
}
// 凹み
%DentNeumorphism {
  @extend %NewmorphismBase;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1),
  3px 3px 5px rgba(255, 255, 255, 1);
}


// 共通
.toTop {
  position: relative;
  top: 14px;
  font-size: 40px;
}

.headerTitle {
  >.title {
    @extend %ConvexNeumorphism;
    font-family: "mini-wakuwaku-maru";
    font-size: 28px;
    line-height: 46px;
    height: 46px;
    text-align: center;
    flex-shrink: 0;
    width: 340px;
    color: #34303F;
    &:hover {
      color:rgba(52, 48, 63, 0.5)
    }
  }
  &-pushed > .title {
    color:#FFF9ED;
    @extend %DentNeumorphism;
  }
}

.menu-pushed > li {
  color:#FFF9ED;
  @extend %DentNeumorphism;
}

.contents {
  padding: 0 16px 16px;
  margin-bottom: 16px;
}
.contents-index {
  @extend .contents;
  padding: 12px;
}

.header_img {
  margin-bottom: 48px;
  margin: 0 auto;

  display: block;
  animation: putun 2s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
  -webkit-animation: putun 2s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
  -moz-animation: putun 2s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;

}

@keyframes putun {
  0%{
    transform: scale(0.8, 0.8);
  }

  30% {
    transform: scale(0.015, 0.015);
  }

  70% {
    transform: scale(1.3, 1.3);
  }
  80% {
    transform: scale(0.9, 0.9);
  }
  90% {
    transform: scale(1, 1.02);
  }
  95% {
    transform: scale(1, 0.98);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes putun {
  0%{
    transform: scale(0.8, 0.8);
  }

  30% {
    transform: scale(0.015, 0.015);
  }

  70% {
    transform: scale(1.3, 1.3);
  }
  80% {
    transform: scale(0.9, 0.9);
  }
  90% {
    transform: scale(1, 1.02);
  }
  95% {
    transform: scale(1, 0.98);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes putun {
  0%{
    transform: scale(0.8, 0.8);
  }

  30% {
    transform: scale(0.015, 0.015);
  }

  70% {
    transform: scale(1.3, 1.3);
  }
  80% {
    transform: scale(0.9, 0.9);
  }
  90% {
    transform: scale(1, 1.02);
  }
  95% {
    transform: scale(1, 0.98);
  }
  100% {
    transform: scale(1, 1);
  }
}



ul {margin: 0;}

ul.work-link, ul.menu-link {
	display: flex;

  border-radius: 10px;


  & li {
      @extend %ConvexNeumorphism;
      padding: 13px 20px;
      position: relative;
      list-style: none;
      text-align: center;
      line-height: 100%;
      margin: 0 5px;
      
      &:hover {
        opacity: .5;
      }
  }
}

ul.menu-link {
  width: 440px;
}


.menu-box {
  @extend %ConvexNeumorphism;
    display: none;
    height: 46px;
    width: 46px;
}

.menu,
.menu span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu {
  position: relative;
  width: 30px;
  height: 24px;
  margin: 8px 8px;
}
.menu span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #34303F;
  border-radius: 4px;
}

.menu span:not(:nth-of-type(4)) {
  left: 0;
}

.menu span:nth-of-type(1) {
  top: 0;
}
.menu span:nth-of-type(2) {
  top: 9px;
}
.menu span:nth-of-type(3) {
  bottom: 2px;
}
.menu span:nth-of-type(4) {
  padding-top: 2px;
  background-color: transparent;
  bottom: 0;
  font-size: 11px;
}

// ハンバーガーアニメーション
.menu-box span:nth-of-type(1) {
  -webkit-animation: menu-bar01 .75s forwards;
  animation: menu-bar01 .75s forwards;
}
@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar01 {
  0% {
    transform: translateY(20px) rotate(45deg);
  }
  50% {
    transform: translateY(20px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menu-box span:nth-of-type(2) {
  transition: all .25s .25s;
  opacity: 1;
}
.menu-box span:nth-of-type(3) {
  -webkit-animation: menu-bar02 .75s forwards;
  animation: menu-bar02 .75s forwards;
}
@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-20px) rotate(-45deg);
  }
  50% {
    transform: translateY(-20px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menu-box.active span:nth-of-type(1) {
  -webkit-animation: active-menu-bar01 .75s forwards;
  animation: active-menu-bar01 .75s forwards;
}
@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
  }
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(15px) rotate(0);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}
.menu-box.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-box.active span:nth-of-type(3) {
  -webkit-animation: active-menu-bar03 .75s forwards;
  animation: active-menu-bar03 .75s forwards;
}
@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
  }
}
@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-20px) rotate(0);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

.active {
  margin: 37px;
  top: 0;
  right: 0;
  position: fixed;
}
.modal {
  flex-wrap: nowrap;
  margin: 0!important;
  padding: 0 0 32px 0!important;
  z-index: 10;
  height: 100%;
  position: fixed;
  top: 10%;
  left: calc((100% - 300px) / 2);
  flex-direction: column;
  width: 300px !important;
  justify-content: space-around;

  & li {
    // height: 61px;
    width: 300px;
  }
  & a {
    display: inline-block;
    width: 300px;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #FCBF4C;
}

@media screen and ( max-width:880px) {
  ul.display-none {
    display: none;
  }
  .menu-box{
    z-index: 120;
    display: inline-block;
  }
  
}

@media screen and ( max-width:700px){
    .myNameTitle {
      display: none;
    }
    .headerTitle > .title {
      width: 61px;
    }
}

// about me
// MEMO：relativeを決めて、absoluteにすると便利
.hukidashi_saying:not(:last-child){
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -44px;
    left: calc(50% - 12px);
    border: 12px solid transparent;

    border-top: 16px solid #FFDEA1;
  }
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -24px;
    left: calc(50% - 4px);
    width: 8px;
    height: 28px;
    background: #FFDEA1;
  }
}

.hukidashi_b_a {
	position: relative;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
		border: 12px solid transparent;
		border-left: 16px solid #FFDEA1;
		right: -44px;
		bottom: calc(50% - 12px);
  }
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
		width: 20px;
		height: 8px;
		right: -20px;
    bottom: calc(50% - 4px);
    background: #FFDEA1;
  }
}

.hukidashi_thinking {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
		bottom: -12px;
    left: -24px;
    width: 12px;
    height: 16px;
		background: #FFDEA1;
		border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -8px;
    left: -8px;
    width: 20px;
    height: 28px;
		background: #FFDEA1;
		border-radius: 50%;
  }
}

.gif_player img{
  margin: 0;
}
.resMyImg {
  width: 250px;
  text-align: center;
  & > img {
    text-align: center;
  }
}
.myImg {
  flex-basis: 488px;
  margin: 0 16px;
}
.hukidashis {
  flex-basis: 488px;
  font-size: 14px;
  margin: 0 16px;
}
.hukidashi {
  background: #FFDEA1;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  margin-top: 38px;

  ul {
    margin: 16px 0;
    li {
      margin-left: 16px;
    }
  }
}

.flex_content {
	display: flex;
	justify-content: space-between;
}
.frex_basis488{
	flex-basis: 488px;
  margin: 0 16px 16px;
  ul, p {
    font-size: 16px;
  }

  p > span {
    font-size: 20px;
  }
}
@media screen and (max-width:816px) {
	.frex_basis488{
    flex-basis: 200px;
    margin: 20px 0 16px;
	}
  .hukidashi_b_a {
    position: relative;

		&::before {
			content: "";
			position: absolute;
			display: inline-block;
			bottom: -44px;
			border: 12px solid transparent;
			right: calc(50% - 12px);
			border-top: 16px solid #FFDEA1;
		}
		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			bottom: -24px;
			left: calc(50% - 4px);
			width: 8px;
			height: 28px;
			background: #FFDEA1;
		}
	}

  .flex_content {
    flex-direction: column;
  }
  // MEMO:画像を中央寄席するには親要素もインラインブロックにする必要アリ
  .myImg {
    flex-basis: 100px;
    display: inline-block;
    text-align: center;    
  }

}
// skills
.marker {
  background: linear-gradient(transparent 60%, #FEE7BC 60%);
}
%card {
  flex-basis: 240px;
  margin: 0 8px;
  text-align: center;
}

.skill {
  @extend %card;
  padding-bottom: 32px;
  height: 250px;
  & section {
    text-align: left;
  }
}

.work {
  height: 240px;
  @extend %card;
  @extend %DentNeumorphism;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 32px;

  & header {
    & > div {
      height: 150px !important;
		}
  } 
  & img {
    height: 150px !important;
    -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
    border-radius: 10px 10px 0 0 / 10px 10px 0 0;
  }
  & article::after {
    pointer-events: none;
    transition: 0.8s;
    content: "";
    position: absolute;
    left: -100%;
    top:0;
    display: block;
    width: 100%;
    height: 100%;
    background: #7E7597;
    opacity: 0;
  }
  & article > span {
    font-family: "mini-wakuwaku-maru";
    font-size: 24px;
    position: absolute;
    color: #FCBF4C;
    transition: 0.3s;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
  }
  & article:hover::after{
    pointer-events: none;
    opacity: 0.5;
    left: 0;
  }

  & article:hover > span {
    opacity: 1;
    left: 35%;
    z-index: 10;
  }

}

.work-prev {
  @extend .work;

  & article::after {
    left: 100%;
  }
  & article > span {
    left: 70%;
    z-index: 10;;
  }
}

.neko {
  @extend %card;
  height: 261px;
}

.work-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & p:nth-child(odd) {
    flex-basis: 540px;
    margin: 0 16px 48px 0;
  }
  & p:nth-child(even) {
    flex-basis: 480px;
  }
}
ul.work-link {
  width: 100%;
  padding: 0;
  margin: 0;
}

// pre next
.work-link .pn {
  display: none;
}

@media screen and (max-width:950px) {
  .work-link .title {
    display: none;
  }
  .work-link .pn {
    display: inline-block;
  }
}

// ローディング
$primary-color: #FCBF4C;

@import '~loaders.css/src/animations/ball-pulse.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  text-align: center;
  display: block;
  z-index: 15;
  position: fixed;
  top: calc(calc(100% - 66px) / 2);
  left: calc(calc(100% - 155px) / 2);
  &::after {
    font-family: "Jk Gothic M";
    content: "ローディング中…";
    color: #34303F;
  }

  animation: fadeOut 1s ease 0.5s 1 normal;
}

.wrapper.loading {
  @extend .wrapper;
  position: fixed;
  background-color: rgb(255, 241, 215);

  animation: fadeOut 1s ease 0.5s 1 normal;
}


@keyframes fadeOut {
  0% {opacity: 1} /*アニメーション開始時は不透明度0%*/

  100% {opacity: 0} /*アニメーション終了時は不透明度100%*/
}

.top_link {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                3px 3px 5px rgba(0, 0, 0, 0.1);
}

// About me
.Q_and_A {
  border: solid 4px #3a5ce4;
  border-radius: 10px;
  position: relative;

  & > h3 {
    font-family: "mini-wakuwaku-maru";
    color: #3A5CD4;
    background-color: #FCBF4C;
    border-bottom: solid 4px #3A5CD4;
    width: 80px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 20px;
  }
  & ul {
    padding: 32px 16px 16px;

    list-style: none;
    & li:not(:first-child) {
      border-top: dotted 4px rgba(192, 152, 236, .5);
      padding-top: 16px;
    }
  }
}

.my_image {
  margin-bottom: 0;
}


.action_description {
  position: absolute;
  background-color: #404040;
  color: #f0f0f0;
  border-radius: 10px;
  display: none;
  padding: 4px 10px;
  max-width: 300px;
  font-size: 12px;
  z-index: 1;
  opacity: .8;
}

.abridgement {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  &--none {
    position: absolute;
    background-color: #404040;
    color: #f0f0f0;
    border-radius: 10px;
    
    padding: 4px 10px;

    z-index: 1;
  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3:not(.Q_and_A_title) {
  font-size: 16px;
}